 <footer id="footer" style="position: relative;">
        <div class="container">
          <div class="wrap-footer">
            <div class="row">
              <div class="col-md-7">
                <div class="footer-contact-form">
                  <h2 class="footer-title">INFORMACIÓN</h2>
                  <form name="" method="post" action="contact.php">
                    <div class="row">
                      <div class="col-md-6">
                        
                       <div id=tabla1>
                        <div id=cabtab1>
                            Fundador: Annibal Aranda
                        </div>
                        <div id=cuerpotab1>
                            
                        </div>
                        </div>
                        
                      </div>
                      
                    </div>
                  </form>
                </div>
              </div>
              
              <div class="col-md-5">
                <div class="footer-contact-info">
                  <div class="contact-info-item">
                    <div class="row">
                      <div class="col-md-1">
                        <div class="contact-info-icon">
                          <i class="fa fa-map-marker"></i>
                        </div>
                      </div>
                      <div class="col-md-10">
                        <h3>Localización</h3>
                        <p> Argentina </p>
                      </div>
                    </div>
                  </div>
                  <div class="contact-info-item">
                    <div class="row">
                      <div class="col-md-1">
                        <div class="contact-info-icon">
                          <i class="fa fa-phone"></i>
                        </div>
                      </div>
                      <div class="col-md-10">
                        <h3>Numero de contacto</h3>
                        <p> +54 9 11 6114-1861 </p>
                      </div>
                    </div>
                  </div>
                  <div class="contact-info-item">
                    <div class="row">
                      <div class="col-md-1">
                        <div class="contact-info-icon">
                          <i class="fa fa-envelope"></i>
                        </div>
                      </div>
                      <div class="col-md-10">
                        <h3>Email</h3>
                        <p>arandaM@gmail.com</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="bottom-footer">
            <ul class="list-inline footer-link link">
              <li><a href="https://www.facebook.com">Facebook</a></li>
               <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
              <li><a href="twitter.com">Twitter</a></li>
               <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>

            </ul>
            <div class="copyright">
              <span>Copyright © 2020 <a href="#" target="_blank">.NETMOTION</a></span>
            </div>
          </div> 
        </div>
      </footer>
