{% load static %}

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script src="{% static 'core/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
<script src="{% static 'core/js/jquery.localScroll.min.js' %}"></script>
<script src="{% static 'core/js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'core/js/SmoothScroll.js' %}"></script>
<script src="{% static 'core/js/wow.min.js' %}"></script>
<script src="{% static 'core/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'core/js/main.js' %}"></script>